<!-- <mat-card class="grading-card">
  <h2>{{ posterTitle }}</h2>


  <mat-slider min="1" max="10" step="1000" showTickMarks discrete [displayWith]="formatLabel">
    <input matSliderThumb>
  </mat-slider>


  <p>Score: {{ score.value }}</p>

  <button mat-raised-button color="primary" (click)="submitScore()">Submit</button>
</mat-card>
 -->
 <h2>Grade a Poster</h2>
    
 <select [(ngModel)]="posterId">
   <option *ngFor="let poster of posters()" [value]="poster.id">
     {{ poster.title }}
   </option>
 </select>

 <input [(ngModel)]="score" placeholder="Score (1-10)" type="number" min="1" max="10" />

 <button (click)="submitGrade()">Submit Grade</button>
 <p *ngIf="message">{{ message }}</p>